<html>
	<head>
		<meta charset="UTF-8" />
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<title>スプラトゥーン3 ブキルーレット</title>
	</head>
	<body>
		<div id="app">
			<select v-model="countNum">
				<option v-for="n in maxCount" :value="n">{{ n }}</option>
			</select>人
			<button @click="getWeapon(countNum)"> 名前を入れずに取得 </button>
			<select v-model="selectCategory">
				<option v-for="(category, idx) in categories" :value="idx">{{ category }}</option>
			</select>
			<ol>
				<li v-for="n in maxCount" :key="n">
					<input type="text" v-model="userNames[n-1]" />
					<template v-if="resultWrapons[n-1]">
						:{{ resultWrapons[n-1] }}
					</template>
				</li>
			</ol>
			<button @click="getWeaponForUserName()"> get </button>
		</div>
	</body>
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					maxCount: 8,
					weapons: null,
					categories: null,
					selectCategory: 0,
					mainWeapon: "main",
					textData:"",
					countNum:1,
					resultWrapons: [],
					userNames: [],
				}
			},
			mounted: function () {
				axios.get("./weapons.json").then(response => (this.weapons = response.data));
				axios.get("./categories.json").then(response => (this.categories = response.data));
			},
			methods: {
				resultData() {
					var num;
					if(this.textData.match(new RegExp('^' + this.mainWeapon + ' [0-9]{1,2}$', 'g'))) {
						num = this.textData.replace(/[^0-9]/g, '');
						this.getWeapon(num);
					}
				},
				getWeapon(count) {
					this.resultWrapons = [];
					var selectItems = [];
					if(this.selectCategory) {
						selectItems = this.weapons.filter(function(item, index){ 
							if(item.category == this) return true;
						}, this.selectCategory);
					} else {
						selectItems = this.weapons;
					}
					
					console.log(selectItems)

					for(var i = 0; i < count; i++){
						var randnum = Math.floor( Math.random() * selectItems.length );
						this.resultWrapons.push(selectItems[randnum].name);
					}
				},
				getWeaponForUserName() {
					this.userNames = this.userNames.filter(function(v1, i1, a1){
						if (v1 !== '') return true
						return a1.findIndex(v => v1 === v) === i1
					})
					this.getWeapon(this.userNames.length)
				}
			}
		});
	</script>
</html>